<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="methods" thread-count="10">
    <test name="test1">
        <parameter name="searchText" value="keks"/>
        <classes>
            <class name="TestOne">
            </class>
        </classes>
    </test>
   <test name="test2">
        <parameter name="searchText" value="keks2"/>
        <classes>
            <class name="TestOne"/>
        </classes>
    </test>
    <!--   <test name="test3">
          <parameter name="searchText" value="keks3"/>
          <classes>
              <class name="TestOne"/>
          </classes>
      </test>-->
</suite>